In [1]:
#Calculating number of days between two dates
from datetime import date
date1 = date(2019, 10, 15)
date2 = date(2019, 12, 24)
difference = str(date2 - date1)
print("The number of days between two dates are " + difference)

The number of days between two dates are 70 days, 0:00:00

In [2]:
#Calculating height using formula height = length * sin()
from math import pi, sin
ladder_height = float(input("Enter the height of a ladder: "))
ang = float(input("Enter the angle of a ladder inclined towards the wall: "))
rad = ang*(pi/180)
base = ladder_height * sin(rad)
print("The distance from the wall to the ladder corner on the ground is foumd to be: " + str(base) + "feet")

Enter the height of a ladder: 32
Enter the angle of a ladder inclined towards the wall: 30
The distance from the wall to the ladder corner on the ground is foumd to be: 15.999999999999998feet

In [3]:
>>> lst = [32, 43, 5, 34, 2]
>>> lst.index(5)

2

In [4]:
>>> lst = [12, 32, 34, 465, 35, 65, 8]
middle_element = len(lst)
print(middle_element)

7

In [5]:
>>> lst = [54, 4, 345, 62, 56]
>>> lst.sort()
>>> lst
[4, 54, 56, 62, 345]
>>> lst.reverse()
>>> lst

[345, 62, 56, 54, 4]

In [6]:
>>> lst = [23, 5, 76, 45, 65, 4, 35]
>>> lst.remove(23)
>>> lst
[5, 76, 45, 65, 4, 35]
>>> lst.append(23)
>>> lst

[5, 76, 45, 65, 4, 35, 23]

In [7]:
>>> monthL = ['Jan', 'Feb', 'Mar', 'May']
>>> monthL.insert(3, 'Apr')
>>> monthL

['Jan', 'Feb', 'Mar', 'Apr', 'May']

In [8]:
>>> monthL = ['Jan', 'Feb', 'Mar', 'May']
>>> monthL.insert(3, 'Apr')
>>> monthL
>>> monthL.append('Jun')
>>> monthL

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

In [9]:
>>> monthL = ['Jan', 'Feb', 'Mar', 'May']
>>> monthL.insert(3, 'Apr')
>>> monthL
>>> monthL.append('Jun')
>>> monthL
>>> monthL.pop(2)
>>> monthL

['Jan', 'Feb', 'Apr', 'May', 'Jun']

In [10]:
>>> monthL.remove('Feb')
>>> monthL

['Jan', 'Apr', 'May', 'Jun']

In [11]:
>>> monthL.reverse()
>>> monthL

['Jun', 'May', 'Apr', 'Jan']

In [12]:
>>> monthL.sort()
>>> monthL

['Apr', 'Jan', 'Jun', 'May']

In [13]:
# insert 'Apr' in between 'Mar' and 'May'
monthT = ('Jan', 'Feb', 'Mar', 'May')
item = monthT[3, 'Apr']
print(monthT)

TypeError: tuple indices must be integers or slices, not tuple

In [4]:
lst1 = ['a', 'n', 'a', 'c', 'h', 'r', 'o', 'n', 'i', 's', 't', 'i', 'c', 'a', 'l', 'l', 'y']
print(len(lst1))
lst2 = ['c', 'o', 'u', 'n', 't', 'e', 'r', 'i', 'n', 't', 'u', 'i', 't', 'i', 'v', 'e']
print(len(lst2)< len(lst1))

17
True

In [8]:
lst1 = ['m', 'i', 's', 'i', 'n', 't', 'e', 'r', 'p', 'r', 'e', 't', 'a', 't', 'i', 'o', 'n']
print(len(lst1))
lst2 = ['m', 'i', 's', 'r', 'e', 'p', 'r', 'e', 's', 'e', 'n', 't', 'a', 't', 'i', 'o', 'n']
print(len(lst1)==len(lst2))

17
True

In [15]:
lst = ['f', 'l', 'o', 'c', 'c', 'i', 'n', 'a', 'u', 'c', 'i', 'n', 'i', 'h', 'i', 'l', 'i', 'p', 'i', 'l', 'i', 'f', 'i', 'c', 'a', 't', 'i', 'o', 'n']
'e' in lst

False

In [9]:
lst1 = ['c', 'o', 'u', 'n', 't', 'e', 'r', 'r', 'e', 'v', 'o', 'l', 'u', 't', 'i', 'o', 'n']
lst2 = ['c', 'o', 'u', 'n', 't', 'e', 'r']
lst3 = ['r', 'e', 's', 'o', 'l', 'u', 't', 'i', 'o', 'n']
print(len(lst1) == len((lst2 + lst3)))

True

In [13]:
a = 6
b = 7
c = (a+b)/2
print(c)

6.5

In [6]:
first = "John"
middle = "Fitzgerald"
last = "Kennedy"
fullName = first + ' ' + middle + ' ' + last
print(fullName)

John Fitzgerald Kennedy

In [1]:
import math
r = 10
x = 0
y = 0

a = math.sqrt((0-0)**2 + (0-0)**2)
b = math.sqrt((10-0)**2 + (10-0)**2)
c = math.sqrt((6-0)**2 + (6-0)**2)
d = math.sqrt((7-0)**2 + (8-0)**2)

print(a < r)
print(b < r)
print(c < r)
print(d < r)

True
False
True
False