# CHAP-2 EXERCISES

# 2.11

In [1]:
#(a)
#timeTaken:24sec
sum = -7-6-5-4-3-2-1
print(sum)

-28

In [4]:
#(b)
#timeTaken:3min
child17 = 9 #y/o
child24 = 10 #y/o
child21 = 11 #y/o
child27 = 12 #y/o

averageAge = (9+10+11+12) / 4
print(averageAge)

10.5

In [2]:
#(c)
#timeTaken:47sec
power = 2**-20
print(power)

9.5367431640625e-07

In [5]:
#(d)
#timeTaken:2min
multiple = 4356 //61
print(multiple)

71

In [9]:
#(e)
#timeTaken:53sec
remainder = 4356 % 61
print(remainder)

25

# 2.12

In [15]:
#timeTaken:17min
s1 = '-'
s2 = '+'

#(a)
print(s1+s2)

#(b)
print(s1+s2+s1)

#(c)
print(s2+(s1*2))

#(d)
print((s2+s1*2)*2)

#(e)
print((s2+s1*2)*10+s2)

#(f)
print((s2+s1+s2*3+s1*2)*5)

-+
-+-
+--
+--+--
+--+--+--+--+--+--+--+--+--+--+
+-+++--+-+++--+-+++--+-+++--+-+++--

# 2.13

In [22]:
#timeTaken:5min
s = 'abcdefghijklmnopqrstuvwxyz'
print(s[0])
print(s[2])
print(s[-1])
print(s[-2])
print(s[16])

a
c
z
y
q

# 2.14

In [28]:
#timeTable:
s = 'goodbye'
#(a)
s[0] == 'g'

#(b)
s[6] == 'g'

#(c)
s[0] == 'g' and s[1] =='a'

#(d)


#(e)


#(f)
s[0] == s[6]

#(g)
s[3]+s[4]+s[5]+s[6] =='tion'

False

# 2.15

In [47]:
#(a)
#timeTaken:1min
word1 ='anachronistically'
word2 ='counterintuitive'
len(word1) - 1 == len(word2)

True

In [32]:
#(b)
#timeTaken:2min
word1 ='misinterpretation'
word2 ='misrepresentation'
min(word1, word2)

'misinterpretation'

In [30]:
#(c)
#timeTaken:1min
word = 'floccinaucinihilipilification'
'e' in word

False

In [31]:
#(d)
#timeTaken:2min
word1 = 'counterrevolution'
word2 = 'counter'
word3 = 'revolution'
len(word1) == len(word2) + len(word3)

True

In [41]:
#2.16
#timeTaken:2min
#(a)
a = 6 
b = 7 

#(b)
c = a+b / 2
print(c)

9.5

In [38]:
#(c)
#timeTaken:1min
inventory = ['paper', 'staples', 'pencils']
print(inventory)

['paper', 'staples', 'pencils']

In [40]:
#(d)
#timeTaken:2min
first = 'John'
middle = 'Fitzgerald'
last = 'Kennedy'

#(e)
fullname = first + ' ' + middle + ' ' + last
print(fullname)

John Fitzgerald Kennedy

# 2.17

In [43]:
#(a)
#timeTaken:3min
sum = 17-9
sum < 10

True

In [45]:
#(b)
#timeTaken:1 min
len(inventory) == 5 * len(fullname)

False

In [48]:
#(c)
#timeTaken:20sec
c <= 24

True

In [ ]:
#(d)

In [49]:
#(e)
#timeTaken:1min
len(first) > len(middle) > len(last)

False

In [50]:
#(f)
#timeTaken:
len(inventory) == 0 or len(inventory) > 10

False

# 2.18

In [51]:
#timeTaken:2min
#(a)
flower = ['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'lilly of the valley']

#(b)
'potato' in flower

False

In [56]:
#(c)
#timeTaken:3min
thorny = [flower[0], flower[1], flower[3]]
print(thorny)

['rose', 'bougainvillea', 'marigold']

In [58]:
#(d)
#timeTaken:3min
poisonous = [flower[-1]]
print(poisonous)

['lilly of the valley']

In [62]:
#(e)
#timeTaken:1min
dangerous = thorny + poisonous
print(dangerous)

['rose', 'bougainvillea', 'marigold', 'lilly of the valley']

# 2.19

In [67]:
#timeTaken:11min
answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N']
#(a)
numYes = 5

#(b)
numNo = 6

#(c)
percentYes = 

#(d)
answers.sort()

#(e)
f = answers[0]

# 2.20

In [71]:
#timeTaken:12min
s = 'bat'
r = 'tab'
e = eval(s)

NameError: name 'bat' is not defined

# 2.21

In [72]:
#timeTaken:2min
s = input('Initials of last name:')
t = input('Initials of first name:')
fullname = s + t
print('Initials of my name is:', fullname)

Initials of last name:Z
Initials of first name:E
Initials of my name is: ZE

# 2.22

In [74]:
#timeTable:3min
lst = [2, 5, 6, 7, -3, 8, 10]

TypeError: 'list' object cannot be interpreted as an integer

# 2.23

In [75]:
#(a)
#timeTable:2min
monthL = ['Jan', 'Feb', 'Mar', 'May']
monthL.insert(3, 'Apr')
monthL

['Jan', 'Feb', 'Mar', 'Apr', 'May']

In [77]:
#(b)
#timeTable:2min
monthL = ['Jan', 'Feb', 'Mar', 'May', 'Apr']
monthL.append('Jun')
monthL

['Jan', 'Feb', 'Mar', 'May', 'Apr', 'Jun']

In [80]:
#(c)
#timeTaken:2min
monthL = ['Jan', 'Feb', 'Mar', 'May', 'Apr', 'Jun']
monthL.pop()
monthL

['Jan', 'Feb', 'Mar', 'May', 'Apr']

In [81]:
#(d)
#timeTaken:2min
monthL = ['Jan', 'Feb', 'Mar', 'May', 'Apr', 'Jun']
monthL.remove('Feb')
monthL

['Jan', 'Mar', 'May', 'Apr', 'Jun']

In [82]:
#(e)
#timeTaken:1min
monthL = ['Jan', 'Mar', 'May', 'Apr', 'Jun']
monthL.reverse()
monthL

['Jun', 'Apr', 'May', 'Mar', 'Jan']

In [83]:
#(f)
#timeTaken:1min
monthL = ['Jun', 'Apr', 'May', 'Mar', 'Jan']
monthL.sort()
monthL

['Apr', 'Jan', 'Jun', 'Mar', 'May']

In [84]:
#tuple can not be changed
#timeTaken:3min
monthT = ('Jan', 'Feb', 'Mar', 'May')
item = monthT[3, 'Apr']
print(monthT)

TypeError: tuple indices must be integers or slices, not tuple

# 2.24

In [90]:
#timeTaken:4min
grades = ['B', 'B', 'F', 'C', 'B', 'A', 'A', 'D', 'C', 'D', 'A', 'A', 'B']
list =[grades.count('A'), grades.count('B'), grades.count('C'), grades.count('D'), grades.count('F')]
print(list)

[4, 4, 2, 2, 1]

# 2.25

In [91]:
#timeTaken:3min
grades = ('B', 'B', 'F', 'C', 'B', 'A', 'A', 'D', 'C', 'D', 'A', 'A', 'B')
list =[grades.count('A'), grades.count('B'), grades.count('C'), grades.count('D'), grades.count('F')]
print(list)

[4, 4, 2, 2, 1]

# 2.26

In [96]:
#timeTaken:7min
import math
r = 10
x = 0
y = 0

a = math.sqrt((0-0)**2 + (0-0)**2)
b = math.sqrt((10-0)**2 + (10-0)**2)
c = math.sqrt((6-0)**2 + (-6-0)**2)
d = math.sqrt((-7-0)**2 + (8-0)**2)

print(a < r)
print(b < r)
print(c < r)
print(d < r)

True
False
True
False

# 2.27

In [97]:
#timeTaken:17min
from math import pi, sin
ladder_height = float(input("Enter the height of a ladder: "))
ang = float(input("Enter the angle of a ladder inclined towards the wall: "))
rad = ang*(pi/180)
base = ladder_height * sin(rad)
print("The distance from the wall to the ladder corner on the ground is foumd to be: " + str(base) + "feet")

Enter the height of a ladder: 16
Enter the angle of a ladder inclined towards the wall: 75
The distance from the wall to the ladder corner on the ground is foumd to be: 15.454813220625093feet

# 2.28

In [98]:
#timeTaken:1min
lst = [3, 34, 2, 567, 34, 6, 576]
lst.index(567)

3

In [99]:
#timeTaken:1min
lst = [3, 34, 2, 567, 34, 6, 576]
lst[3]

567

In [103]:
#timeTaken:2min
lst = [3, 34, 2, 567, 34, 6, 576]
lst.sort()

lst.reverse()
print(lst)

[576, 567, 34, 34, 6, 3, 2]

In [107]:
#timeTaken:3min
lst = [3, 34, 2, 567, 34, 6, 576]
lst.remove(3)
lst.append(3)
print(lst)

[34, 2, 567, 34, 6, 576, 3]

# 2.29

In [108]:
#timeTaken:31sec
#(a) 0 == 1 == 2
0 < 1 < 2

True

In [109]:
#timeTaken:24sec
#(b) 2+3 == 4+5 == 7
2+3 != 9 != 7

True

In [110]:
#timeTaken: 35sec
#(c) 1 < -1 == 3 > 4
1 > -1 != 3 < 4

True

# 2.30

In [112]:
#timeTaken:
a = 'apple'
b = 'ball'
c = 'cat'
d = 'daisey'

list = [a, b, c, d]
print(list)

['apple', 'ball', 'cat', 'daisey']