In [1]:
e = 'eINa ziA'
print("capitalize string.", e.capitalize())
print("count occurance of the regd string", e.count('z'))
print("find the string", e.find('N'))
print("lower case", e.lower())
print("replace strings", e.replace('I', 'n'))
print("translate", e.translate('N'))
print("split", e.split())
print("strip", e.strip())
print("upper case", e.upper())

capitalize string. Eina zia
count occurance of the regd string 1
find the string 2
lower case eina zia
replace strings enNa ziA
translate eINa ziA
split ['eINa', 'ziA']
strip eINa ziA
upper case EINA ZIA

In [2]:
n = 4
print(n)
a = 4/3
print(n, a)
name = 'Eina'
print(n, a, name)
print(n, a, name, sep=',')
print(n, a, name, sep='@')
print(n, a, name, sep='\n')
print(n, a, name, sep='\t')

4
4 1.3333333333333333
4 1.3333333333333333 Eina
4,1.3333333333333333,Eina
4@1.3333333333333333@Eina
4
1.3333333333333333
Eina
4	1.3333333333333333	Eina

In [3]:
weekday = 'Tuesday'
month = 'November'
day = 26
year = 2019
hour = 8
minute = 19
seconds = 23

print(weekday+', '+month+'-'+str(day)+'-'+str(year)+', '+str(hour)+':'+str(minute)+':'+str(seconds))

Tuesday, November-26-2019, 8:19:23

In [5]:
hour = 8
minute = 26
seconds = 52

print( '{0}: {1}: {2}'.format(hour, minute, seconds))

8: 26: 52

In [7]:
hour = 8
minute = 27
seconds = 34

print('hour{0}: minute{1}: seconds{2}'.format(hour, minute, seconds))

print("In default setting.")
print('hour{}: minute{}: seconds{}'.format(hour, minute, seconds))

hour8: minute27: seconds34
In default setting.
hour8: minute27: seconds34

In [9]:
weekday = 'Tuesday'
month = 'November'
day = 26
year = 2019
hour = 8
minute = 35
second = 41

print('{}, {} {} {} at {}:{}:{}'.format(weekday, month, day, year, hour, minute, second))

Tuesday, November 26 2019 at 8:35:41

In [10]:
print('i i**2 i**3 2**i')

for i in range(1, 13):
    print(i, i**2, i**3, 2**i, sep='  ')

i i**2 i**3 2**i
1  1  1  2
2  4  8  4
3  9  27  8
4  16  64  16
5  25  125  32
6  36  216  64
7  49  343  128
8  64  512  256
9  81  729  512
10  100  1000  1024
11  121  1331  2048
12  144  1728  4096

In [14]:
def growrates(n):
    print('i    i**2    i**3     2**i')
    formatstring = '{0:2d} {1:6d} {2:6d} {3:6d}'
    for i in range(1, n+1):
        print(formatstring.format(i, i**2, i**3, 2**i))
growrates(12)

i    i**2    i**3     2**i
 1      1      1      2
 2      4      8      4
 3      9     27      8
 4     16     64     16
 5     25    125     32
 6     36    216     64
 7     49    343    128
 8     64    512    256
 9     81    729    512
10    100   1000   1024
11    121   1331   2048
12    144   1728   4096